.wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgb(168, 168, 168);
    width: 15%;
    max-width: 200px;
    min-width: 70px;
    border: 1px solid black;
    border-radius: 5px;
}
.wrapper a {
    line-height: 30px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid black;
    z-index: -1;
}
.active, .wrapper a:hover {
    font-weight: bold;
    color: black;
    background-color: #fff;
}
.hidden {
    display: none;
}
.ul li{
    text-align: left;
}
@media screen and (max-width: 300px)  {
    .wrapper {
        width: 100%;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .mobile > img {
        width: 60px;
    }
}