.wrapper {
    padding: 0;
    margin: 0;
    background-color: gray;
}
.wrapper a {
    padding: 10px;
    margin: 0;
    height: 30px;
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
}
.wrapper a:hover {
    background-color: #fff;
    color: black;
}